mixin sBonus(data)
	// start sBonus
	+b.SECTION.sBonus.section#sBonus&attributes(attributes)
		+e.bg
			+e.bg-img
				img(loading="lazy" src="img/svg/bonus-bg.svg" alt="")
		+e.container.container
			+b.section-title
				h2 Ваши бонусы
				p Запишитесь на тренинг и получите подарки:
			+e.row.row
				.col-lg-6
					+e.item
						+pic('present-1.png')(class="sBonus__item-bg")
						+e.title-row.row
							.col-lg
								+e.H3.title
									| Форекс-
									|
									br.d-none.d-lg-block
									| тренажёр
							.col-lg-auto
								+e.price 5 000 р.
								+e.free Бесплатно!
						+e.txt-box Вы получите урок по установке и использованию «форекс-тренажёра» (специальной программы для тренировки навыков трейдера). За одни выходные Вы сможете прогнать в этом тренажёре несколько лет торгов на рынке форекс, совершать при этом учебные сделки (как Вы совершали бы их в реальном времени), понять и исправить Ваши ошибки. Это похоже на просмотр фильма на быстрой скорости. Только вместо плёнки – график движения цены.
				.col-lg-6
					+e.item
						+pic('present-2.png')(class="sBonus__item-bg")
						+e.title-row.row
							.col-lg
								+e.H3.title Видео-конференции с автором
							.col-lg-auto
								+e.price 21 000 р.
								+e.free Бесплатно!
						+e.txt-box Вы получите урок по установке и использованию «форекс-тренажёра» (специальной программы для тренировки навыков трейдера). За одни выходные Вы сможете прогнать в этом тренажёре несколько лет торгов на рынке форекс, совершать при этом учебные сделки (как Вы совершали бы их в реальном времени), понять и исправить Ваши ошибки. Это похоже на просмотр фильма на быстрой скорости. Только вместо плёнки – график движения цены.
			+e.det-row.row
				+e.det-title.col-lg-7.col-xl-6
					h2
						| Живые подробности
						|
						br.d-none.d-lg-block
						| из «закулисья» проекта
					p В этом видео организатор и куратор тренинга «Профессия форекс-трейдер» Артём Дудкевич расскажет, чем выгодно отличается обучение у Анны Зольд от всего, что Вы видели и изучали ранее:
				.col-lg-5.col-xl-6
					+e.video-box
						+videoLink('442310788')
							+pic('detail-video-bg.png')
	// end sBonus