mixin sDoubt(data)
	// start sDoubt
	+b.SECTION.sDoubt.section#sDoubt&attributes(attributes)
		+e.container.container
			+b.section-title
				h2 P.S. Если Вы до сих пор сомневаетесь, что у Вас получится, значит с Вами что-то не так...
				p Возможно, Вы просто не верите в себя. Или однажды Вы так «прогорели», что теперь с опаской относитесь к любым, даже самым прозрачным и выгодным предложениям. Или Вам кажется, что Ваши близкие, не знающие ничего о финансовых рынках, не поймут Вас и скажут, что Вы ввязались в какую-то авантюру.
			+e.row.row
				+e.txt-col.col-md-7.col-lg-6
					p Как бы там ни было, выбор всегда за Вами. Оставить всё как есть и довольствоваться скромной зарплатой или пенсией, отдыхать раз в год, ездить на общественном транспорте или на старенькой иномарке...
					p Или записаться на тренинг, освоить новую прибыльную профессию и всю оставшуюся жизнь гордиться этим решением. Создать достойное будущее себе и своим близким.
					p
						strong Найдите в себе силы. Докажите себе и всему миру, что Вы достойны гораздо более яркой, насыщенной и счастливой жизни!
				.col-md-5.col-lg-6
					+pic('doubt-man.png')(class="sDoubt__man")
	// end sDoubt