mixin sLevel(data)
	// start sLevel
	+b.SECTION.sLevel.section#sLevel&attributes(attributes)
		+e.container.container
			+b.section-title
				h2
					| «Золотой уровень доверия» –
					|
					br.d-none.d-md-block
					| стандартная надёжность
			+e.row.row
				.col-md-auto
					+pic('gold-lvl.png')(class='sLevel__lvl')
				.col-md
					+e.bold
						| «Золотым уровнем доверия» помечаются «классические» обучающие курсы/программы
						|
						br.d-none.d-xl-block
						| от нашего издательства. Те курсы, тренинги, мультикурсы, которые Вы и раньше приобретали
						|
						br.d-none.d-xl-block
						|  у нас и которые, собственно, завоевали для нашего издательства столь высокую репутацию!
			+e.txt «Золотая метка» означает, что тема данного курса не вызывает этических нареканий со стороны большинства членов редколлегии Инфо-ДВД, а вероятность положительного результата от обучения/применения данных знаний, методик, программ (при неукоснительном соблюдении всех инструкций автора) находится в районе 80%. Манибэк при таком раскладе мы, к сожалению, гарантировать на 100% не берёмся, но в случае возникновения претензий к данному мультикурсу со стороны пользователя, обязуемся тщательно рассмотреть эти претензии, и если ученик выполнил должным образом все необходимые задания обучения (инструкции программы), но в силу каких-либо причин субъективного порядка остался не удовлетворён конечным результатом, возможен частичный манибэк.
			+e.bot-row.row
				.col-md-6.text-center.text-md-end
					+e.btn(href='http://info-dvd.ru/pages/risk-rate' target="_blank") Подробнее о рейтинге надёжности
				.col-md-6.text-center.text-md-start
					+e.btn(href='#sVersion') Я уверен в качестве! Иду на тренинг!
	// end sLevel