// start .sLevel
.sLevel {
	@include media-breakpoint-up(xl){
		--sPT: #{rem(38px)};
		--sTPB: #{rem(37)};
		--sPB: #{rem(37px)};
	}

	.section-title{
		h2{
			max-width: rem(940);
			@include media-breakpoint-up(xl){
				font-size: rem(49.6);
			}
		}
		p{
			max-width: rem(1070);
			font-weight: 600;
			font-size: rem(19.6);
			line-height: 1.65;
			margin-bottom: rem(31);
			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	&__container{
		@include media-breakpoint-up(xxl){
			padding-right: rem(23);
		}
	}

	&__row{
		@include roww(rem(30));
		@include media-breakpoint-up(xxl){
			@include roww(rem(59));
		}

		& > *{
			margin-bottom: rem(30);
		}
		margin-bottom: rem(-30);

		padding-bottom: rem(25);
		@include media-breakpoint-up(lg){
			padding-bottom: rem(5);
		}
	}
	&__lvl{
		width: rem(384);
		max-width: 100%;
		@include media-breakpoint-up(md){
			width: rem(350);
		}
		@include media-breakpoint-up(lg){
			width: rem(384);
		}
		img{
			max-width: 100%;
			width: auto;
			height: auto;
		}
	}
	&__bold{
		font-weight: 600;
		font-size: rem(23.6);
		line-height: 1.55;
		max-width: rem(670);

		@include media-breakpoint-up(lg){
			margin-top: rem(26px);
		}
	}
	&__txt{
		font-weight: 500;
		font-size: rem(15.7);
		line-height: 1.75;

		margin-bottom: rem(40);
		@include media-breakpoint-up(xl){
			margin-bottom: rem(75);
		}
	}
	&__bot-row{
		& > *{
			margin-bottom: rem(20);
		}
		margin-bottom: rem(-20);
	}
	&__btn{
		@extend .btn-default;
		width: rem(430);
		max-width: 100%;
	}

	&__{}
	&__{}
} // end.sLevel