mixin sWho(data)
	// start sWho
	+b.SECTION.sWho.section#sWho&attributes(attributes)
		.container
			+b.section-title
				h2 А кто намусорил?
				p Индустрия обучения трейдингу предлагает Вам всё новые инструменты для заработка. Вам говорят, что теперь этот «супер-инструмент» стал ещё лучше, и заработать можно будет проще и больше.
				+e.big-txt Да, инструментарий в трейдинге имеет значение. Но в действительности, чтобы хорошо зарабатывать, лучше должны стать вовсе не инструменты, которыми Вы пользуетесь.
			+e.box
				+pic('super-man.jpg')(class="sWho__bg-img")
				+e.txt-cont
					h3 Лучше должны стать Вы сами!
					p Это элементарная истина, которая лежит на поверхности. Учитель не начнёт вести уроки лучше, если возьмёт в руки новое издание учебника. Художник не начнёт создавать шедевры, если обновит кисти и краски. Трейдер не станет зарабатывать больше, если возьмёт очередной «улучшенный» инструмент для заработка.
					p На самом деле в трейдинге достаточно знать элементарные принципы. Это 20% Вашего успеха. Остальные 80% – это Ваша психология. То, как Вы умеете работать с Вашими эмоциями: страхом, жадностью, азартом.
					p Вы скажете: я это уже слышал. Тем лучше. Вы слышали, но понятия не имеете, как с этим работать и что на самом деле в себе скрывает таинственная «психология трейдинга».
	// end sWho