mixin sWarranty(data)
	// start sWarranty
	+b.SECTION.sWarranty.section#sWarranty&attributes(attributes)
		+e.container.container
			+b.section-title
				h2 Вы получаете гарантии
				p Мы на 100% уверены в качестве наших обучающих продуктов. Поэтому Издательство Инфо-ДВД в лице Анатолия Белоусова, Никиты Королёва, Анны Зольд и Артёма Дудкевича даёт Вам эти смелые гарантии:
			+e.row.row
				+warrantyItem('Гарантия качества')
					| Мы на 100% гарантируем Вам, что Вы найдёте ответы НА ВСЕ перечисленные в описании тренинга вопросы! Всё то, что показано в описании, будет предоставлено Вам в самом лучшем виде! Кроме того, пошаговое следование всем стратегиям, советам и рекомендациям автора обязательно даст Вам необходимый результат!
				+warrantyItem('Гарантия поддержки')
					| Автор гарантирует Вам свою личную поддержку и послепродажное обслуживание. Это означает, что мы всегда будем на связи, и Вы всегда сможете задавать нам Ваши вопросы – как в приватной переписке по е-мэйл или через билетную доску сервиса «Саппорт-Деск», так и через специальную закрытую группу внутри нашего портала Инфоклуб.
				+warrantyItem('Гарантия результата')
					| На тренинге Вы получите и отработаете на практике готовую, тщательно протестированную прибыльную торговую систему, разработанную аттестованным специалистом финансовых рынков. Строгое следование правилам этой системы позволяет автору и её ученикам зарабатывать до 50% (и более) прибыли каждый месяц. Вам останется просто повторить это результат, воспользовавшись полученными знаниями.
	// end sWarranty

mixin warrantyItem(title)
	.col-lg-4
		+e.item
			+e.title=title
			+e.txt
				block