mixin sVersion(data)
	// start sVersion
	+b.SECTION.sVersion.section#sVersion&attributes(attributes)
		+e.container.container
			+b.section-title
				h2 Выберите Вашу версию участия
				p Для гарантированного освоения профессии форекс-трейдера и получения максимально быстрых результатов запишитесь на тренинг по версии Коучинг
			+e.remain-row.row.align-items-center
				.col
					+e.remain-txt До старта тренинга осталось:
				.col-auto
					.time__block
						.idvd_timer.autostart(data-redirect_url='', data-duration_hours='325')
			+e.version-row.row
				+versionItem({
					name: 'Стандарт',
					addClasses: 'gray',
					oldPrice: '33 000',
					price: '23 100',
					href: "https://info-dvd.ru/bbm/order/fxtrader2"

				})
					li Вводный курс для абсолютных новичков
					li 6 онлайн-занятий тренинга
					li Записи всех занятий
					li Домашние задания с разбором
					li БОНУС: форекс-тренажёр
				+versionItem({
					name: 'Мастер',
					addClasses: 'pink',
					oldPrice: '33 000',
					price: '23 100',
					href: "https://info-dvd.ru/bbm/order/fxtrader2master"
				})
					li Вводный курс для абсолютных новичков
					li 6 онлайн-занятий тренинга
					li Записи всех занятий
					li Домашние задания с разбором
					li БОНУС: форекс-тренажёр
					li 3 месяца сопровождения в Мастер-группе после тренинга
				+versionItem({
					name: 'Коучинг',
					addClasses: 'gradient',
					oldPrice: '33 000',
					price: '23 100',
					href: "https://info-dvd.ru/bbm/order/fxtrader2coaching"
				})
					li 6 недель тренинга (18 занятий)
					li Записи всех занятий
					li Домашние задания с разбором
					li БОНУС: форекс-тренажёр
					li 3 месяца сопровождения в Мастер-группе после тренинга
					li Индивидуальный коучинг до результата (бессрочно, пока Вы проявляете активность)
					li БОНУС: видео-конференции с автором в группе 7-10 человек (3 месяца)
			+e.box
				+pic('clock.png')(class="sVersion__clock d-none d-md-block")
				+e.b-content
					+e.H3.b-title Настоящий ажиотаж разгорелся вокруг онлайн-тренинга Анны Зольд «Профессия FOREX-трейдер 3.0»!
					+e.b-txt
						p Многие участники осознают необходимость сопровождения после тренинга, поэтому в версиях Мастер и Коучинг свободные места могут закончиться намного раньше, чем запланировано!
						p Мы определили для каждого пакета участия максимально возможный общий лимит мест: 50 для версии Стандарт, 50 для версии Мастер и 20 для версии Коучинг.
						p Регистрация на тренинг закончится, как только будут заняты все свободные места. Успевайте!
					+e.big Выписанный счёт не гарантирует Вам участие в тренинге по текущей цене. Место на тренинге бронируется за Вами только после оплаты!
					+e.b-btn(href='#sVersion') Успейте получить ссылку
	// end sVersion

mixin versionItem(data)
	.col-lg-4
		+e.item(class=data.addClasses)
			+e.header
				+e.name=data.name
				+e.old-price=data.oldPrice
				+e.new-price=data.price
			+e.content
				ul
					block
				+e.btn-content.text-center
					+e.btn(href=data.href target="_blank") Оформить заказ