// start .sVersion
.sVersion {
  @include media-breakpoint-up(xl){
    --sPT: #{rem(114)};
    --sTPB: #{rem(33)};
    --sPB: #{rem(46)};
  }

  .section-title{
    max-width: rem(999);
    h2{

    }
    p{
      font-weight: 600;
      font-size: rem(19.5);
      line-height: 1.65;
    }
  }

  &__container{
    @include media-breakpoint-up(xxl){
      padding-right: rem(23);
    }
  }

  &__remain-row{
    & > *{
      margin-bottom: rem(20);
    }
    margin-bottom: rem(-20);

    padding-bottom: rem(50);
  }
  &__remain-txt{
    font-weight: 900;
    font-size: rem(39.5);
    line-height: 1.23;
    color: $secondary;
  }

  &__version-row{
    @include roww(rem(30));
    @include media-breakpoint-up(xxl){
      @include roww(rem(40));
    }

    & > *{
      margin-bottom: rem(40);
    }

    margin-bottom: rem(-45);

    padding-bottom: rem(60);
    @include media-breakpoint-up(xl){
      padding-bottom: rem(80px);
    }
  }
  &__item{
    min-height: 100%;
    display: flex;
    flex-direction: column;

    //@include media-breakpoint-between(md, lg){
    //  flex-direction: row;
    //}


    background: $white;
    box-shadow: 0px rem(26) rem(46) rgba(0, 0, 0, 0.17);
    border-radius: 8px;
    overflow: hidden;

    --head-txt-c: #{$indigo};
    &.gray{
      --head-txt-c: #{$indigo};
      --bg: #{$gray-230};
    }
    &.pink{
      --head-txt-c: #{$indigo};
      --bg: #{$light-pink};
    }
    &.gradient{
      --head-txt-c: #{$white};
      --bg: linear-gradient(119.22deg, #FF4057 0.88%, #240041 96.83%);
    }
  }
  &__header{
    text-align: center;
    position: relative;
    z-index: 1;
    &:before{
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--bg);
    }

    padding: rem(28) rem(20) rem(32);
    @include media-breakpoint-up(sm){
      padding: rem(28) rem(25) rem(32);
    }
  }
  &__name{
    font-weight: 800;
    font-size: rem(29.7);
    line-height: 1.26;
    color: var(--head-txt-c);
    margin-bottom: rem(8);
  }
  &__old-price{
    font-size: rem(19.7);
    line-height: 1.45;
    text-decoration-line: line-through;
    color: var(--head-txt-c);
    margin-bottom: 0;
  }
  &__new-price{
    font-weight: 800;
    font-size: rem(39.7);
    line-height: 1.26;
    color: $primary;
  }
  &__content{
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    padding: rem(25) rem(20) rem(35);
    @include media-breakpoint-up(sm){
      padding: rem(30) rem(20) rem(45);
    }
    @include media-breakpoint-up(xxl){
      padding: rem(27) rem(25) rem(54);
    }

    ul{
      list-style: none;
      padding: 0;
      margin: 0 0 rem(36);

      li{
        text-align: center;
        font-weight: 500;
        font-size: rem(15.7);
        line-height: 1.75;
        color: $indigo;

        &:after{
          content: '';
          display: block;
          margin: rem(11.3) auto;
          width: rem(64);
          height: 1px;
          background-color: $primary;
        }
        &:last-child:after{
          content: none;
        }
      }
    }
  }
  &__btn-content{
    margin-top: auto;
  }
  &__btn{
    @extend .btn-default;
  }
  //box
  &__box{
    background: linear-gradient(105.02deg, #ECECEC 0%, #FAFAFA 0.01%, #E6E6E6 100%), #CED7DA;
    border-radius: rem(8);

    position: relative;
    z-index: 1;

    padding: rem(30) rem(20) rem(40);
    @include media-breakpoint-up(lg){
      padding: rem(40) rem(30) rem(50);
    }
    @include media-breakpoint-up(xl){
      padding: rem(46) rem(43) rem(55);
    }
  }
  &__clock{
    position: absolute;
    z-index: -1;

    @include media-breakpoint-up(sm){
      width: calc(#{rem(545)} * 0.6);
      height: calc(#{rem(625)} * 0.6);
      top: rem(60);
      right: rem(-60);
    }
    @include media-breakpoint-up(lg){
      width: calc(#{rem(545)} * 0.8);
      height: calc(#{rem(625)} * 0.8);
      top: rem(60);
      right: rem(-60);
    }
    @include media-breakpoint-up(xxl){
      width: calc(#{rem(545)} * 1);
      height: calc(#{rem(625)} * 1);
      top: rem(59);
      right: rem(-103);
    }

    img{
      width: auto;
      height: auto;
      max-height: 100%;
      max-width: 100%;
    }
  }
  &__b-content{
    @include media-breakpoint-up(sm){
      max-width: rem(550);
    }
    @include media-breakpoint-up(lg){
      max-width: rem(630);
    }
  }
  &__b-title{
    font-size: rem(29.2);
    line-height: 1.45;
    color: $primary;
    margin-bottom: rem(26);

    @include media-breakpoint-up(lg){
      margin-right: rem(-90);
    }
  }
  &__b-txt{
    font-weight: 500;
    font-size: rem(15.7);
    line-height: 1.75;
    color: $indigo;
    padding-bottom: rem(40);

    & > *:last-child{
      margin-bottom: 0;
    }
    p{
      margin-bottom: rem(24);
    }
  }
  &__big{
    font-weight: 700;
    font-size: rem(19.7);
    padding-bottom: rem(30);
  }
  &__b-btn{
    @extend .btn-default;
  }
  &__{}
  &__{}
} // end.sVersion



.time__block{
  .idvd_timer {
    display: flex;
    align-items: center;
    @include media-breakpoint-up(xl) {
      width: rem(405px);
      justify-content: space-between;
    }
  }

  .tmr_el{
    //background-color: red!important;
    width: auto;
    position: relative;
    margin-right: rem(18);
    &:before{
      content: ':';
      position: absolute;
      left: 100%;
      @include a-cent(y);
      padding-bottom: 33px;
      height: auto;
      width: rem(18);
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      //font-family: $gotham-pro;
      font-weight: 900;
      line-height: 122%;
      font-size: rem(40);
      color: $body-color;
    }

    &:first-child:before, &:last-child:before{
      content: none;
    }

    .tmr_el_val {
      width: rem(80);
      height: rem(80);
      padding-left: rem(10);
      letter-spacing: rem(5);
      text-align: center!important;
      color: #fff;
      margin-bottom: rem(6);
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: rem(10);
        background-color: var(--num-back-col);
      }
    }

    &:nth-child(1) {
      --num-back-col: #{$primary};
    }
    &:nth-child(n + 2) {
      --num-back-col: #{$secondary};
    }

  }
  .tmr_el_val{
    position: relative;
    width: rem(68);
    height: rem(68);
    line-height: rem(68);
    @include rfs(40px);
    @include media-breakpoint-up(sm){
      width: rem(72);
      height: rem(72);
      line-height: rem(72);
      font-weight: 900;
    }
    border-radius: rem(10px);
    padding: 0;
    font-weight: 400;
  }

  .tmr_el_unit{
    text-align: center;
    font-weight: 600;
    font-size: rem(15.7);
    line-height: 1.65;
    text-transform: capitalize;
  }

}