:root {
	--animate-delay: 1.2s;

	--fontSizeBase: 12.5px;
	@media (min-width: 400px) {
		--fontSizeBase: 13px;
	}
	@include media-breakpoint-up(sm){
		--fontSizeBase: 13px;
	}
	@include media-breakpoint-up(md){
		--fontSizeBase: 13.5px;
	}
	@include media-breakpoint-up(lg){
		--fontSizeBase: 14.5px;
	}
	@include media-breakpoint-up(xl){
		--fontSizeBase: 15px;
	}
	@include media-breakpoint-up(xxl){
		--fontSizeBase: #{$em-base};
	}

	--sPT: #{rem(40)};
	--sPB: #{rem(45)};
	--sTPB: #{rem(35)};
	@include media-breakpoint-up(lg){
		--sPT: #{rem(65)};
		--sPB: #{rem(70)};
		--sTPB: #{rem(45)};
	}
}