mixin sSlider(data)
	// start sSlider
	+b.SECTION.sSlider.section#sSlider&attributes(attributes)
		+e.container.container
			+b.section-title
				h2 Смотрите, что говорят и сколько зарабатывают те, кто уже прошёл тренинг Анны Зольд!
			+b.carusel-block
				+e.slider--js.swiper-container
					.swiper-wrapper
						- for(var i = 1; i <= 17; i++)
							.swiper-slide
								a(href=`img/@2x/look-item-${i}.png` data-fancybox="feedBackSlider")
									picture
										source.swiper-lazy(type='image/webp' srcset="#" data-srcset=`img/@2x/webp/look-item-${i}.webp`)
										img.swiper-lazy( data-src=`img/@2x/look-item-${i}.png` alt='')
					+arrow()
				.swiper-pagination
	// end sSlider