mixin sCouch(data)
	// start sCouch
	+b.SECTION.sCouch.section#sCouch&attributes(attributes)
		+e.container.container
			+b.section-title
				h2 Что такое 69 300 рублей за версию Коучинг?
				p
					| Этого хватит на хороший современный смартфон. Или несколько дней отдыха на море.
					|
					br.d-none.d-xl-block
					| Или это может быть «заначка на чёрный день».
			+e.row.row
				+e.txt-col.col-lg-6
					p Только вот радость от нового гаджета пройдёт уже на следующее утро. От короткого отпуска останется лишь неровный загар и пара не самых удачных фоток в телефоне. Заначка вообще растворится за мгновенье, стоит лишь случиться временным трудностям.
					p И тогда Вам снова придётся работать всё в том же душном офисе или на заводе, чтобы накопить на свои «хотелки».
					+e.P.danger Будьте умнее и дальновиднее:
					+e.big Инвестируйте сегодня эту сумму в освоение новой прибыльной профессии форекс-трейдера, и тогда работать (в привычном понимании этого слова) Вам вообще больше не придётся!
				.col-lg-6
					+e.box
						+e.b-title Профессия форекс-трейдера позволит Вам:
						ul
							li Навсегда уйти с работы и получать высокий стабильный доход.
							li
								| Жить на море, а не ездить
								|
								br.d-none.d-md-block
								| в отпуск раз в год.
							li Иметь всё и сразу, а не копить годами на крупные покупки.
							li
								| Уже через 3-6 месяцев после обучения зарабатывать эти самые
								span.text-danger
									| 69 300
									|
								| рублей хоть каждый день!
						+e.btn(href='#sVersion') Начните зарабатывать
	// end sCouch