mixin sReal(data)
	// start sReal
	+b.SECTION.sReal.section#sReal&attributes(attributes)
		+e.container.container
			+b.section-title
				h2
					| Это настоящий бриллиант в обучении
					|
					br.d-none.d-xl-block
					| форекс-трейдингу
				p Находка для тех, кто хочет начать с абсолютного нуля. Спасение для тех, кто уже годами «сливает» депозиты и пробует снова.
			+e.row.row
				+realItem()
					h4
						| На 100%
						|
						br.d-none.d-md-block
						| доступно
					p Понять и применить то, что будет давать Вам на обучении автор, сможет даже 5-летний ребёнок.
				+realItem()
					h4
						| До неприличия
						|
						br.d-none.d-md-block
						| прибыльно
					p
						| Вы получите реально действующий алгоритм, как из $5 сделать $500
						|
						br.d-none.d-xxl-block
						| за 30 рабочих дней.
				+realItem()
					h4
						| Дико
						|
						br.d-none.d-md-block
						| захватывающе
					p Вы сотни раз испытаете это чувство, когда одна сделка приносит Вам больше месячной зарплаты.
			+e.reprent-title
				+e.r-sm Онлайн-тренинг Анны Зольд
				+e.H3.r-red Профессия FOREX-трейдер 3.0
			+e.reprent-row.row
				+e.txt-col.col-lg-7
					p
						strong Ваш надёжный путеводитель в мир прибыльного трейдинга на рынке форекс!
					p Вы с абсолютного нуля сможете освоить профессию трейдера. Получите все знания, инструменты и навыки, необходимые для самостоятельной прибыльной торговли на рынке форекс. Сможете справляться с эмоциями в торговле, управлять рисками и капиталом, принимать полностью независимые торговые решения.
					p В процессе обучения и сопровождения после тренинга Вы сможете пройти по подготовленному для Вас плану: с $5 до $500 за 30 рабочих дней. А в дальнейшем сможете зарабатывать сотни и тысячи долларов прибыли каждый месяц
					+e.btn(href='#') Регистрация
				+e.book-col.col-lg-5
					+pic('book.png')(class="sReal__book")
	// end sReal

mixin realItem()
	+e.col.col-md-4
		block