mixin sFear(data)
	// start sFear
	+b.SECTION.sFear.section#sFear&attributes(attributes)
		+e.container.container
			+b.section-title
				h2
					| Оставьте страхи, сомнения
					|
					br.d-none.d-lg-block
					| и неудачи в прошлом
				p Посмотрите, в чём главные особенности онлайн-тренинга «Профессия FOREX-трейдер 3.0»:
			+e.row.row
				+fearItem(1)
					h4
						| Новая профессия
						|
						br.d-none.d-lg-block
						| и образ жизни
					p Трейдинг – это мечта миллионов. Это образ жизни, когда Вы работаете за компьютером в удобном кресле у себя дома. Имеете кучу свободного времени. Вы сам себе начальник и сами делаете себе «зарплату» в сотни и тысячи долларов в месяц. На тренинге Вы освоите эту профессию и сможете изменить всю Вашу жизнь.
				+fearItem(2)
					h4
						| Это не только
						|
						br.d-none.d-lg-block
						| торговая система
					p Онлайн-тренинг «Профессия FOREX-трейдер 3.0» – это не только торговая система. Это обучение полностью самостоятельному, независимому, прибыльному трейдингу. С полным пониманием рынка, и чётким представлением: что, как и когда делать.
				+fearItem(3)
					h4
						| Редкий дар
						|
						br.d-none.d-lg-block
						| преподавателя
					p Анна Зольд – успешный трейдер и талантливый преподаватель. Она в деталях помнит все «ужасы новичка», которые ждали её на рынке 13 лет назад – когда она сама только начинала. Всю программу тренинга Анна построила так, чтобы избавить Вас от этих «ужасов» и самой лёгкой дорогой привести к результату
				+fearItem(4)
					h4
						| Доступно абсолютным
						|
						br.d-none.d-lg-block
						| новичкам
					p Если Вы инженер, домохозяйка, бизнесмен, пенсионер, офисный работник, фрилансер, студент, безработный, да вообще кто угодно – теперь Вы сможете освоить профессию трейдера. Независимо от пола, возраста и других обстоятельств. С абсолютного нуля и по шагам.
				+fearItem(5)
					h4
						| Все знания и инструменты
						|
						br.d-none.d-lg-block
						| в одном месте
					p Вам больше не придётся метаться от стратегии к стратегии и искать свой «грааль». Всё, что нужно новичку для стабильного заработка на рынке форекс, Вы получите в одном месте – на занятиях тренинга Анны Зольд.
				+fearItem(6)
					h4
						| Психология трейдинга
						|
						br.d-none.d-lg-block
						| или Как не «сливать»
					p Если Вы уже работали на финансовых рынках, то, скорее всего, теряли деньги. Причина – это Ваше неумение справляться с эмоциями в процессе торговли. На тренинге Вы получите жизненно важные знания о психологии трейдинга и будете применять их на практике. Именно поэтому Вы перестанете «сливать» и начнёте стабильно зарабатывать.
				+fearItem(7)
					h4
						| Минимум времени
						|
						br.d-none.d-lg-block
						| на работу
					p Прибыль Вы будете получать только в том случае, если научитесь ограничивать себя в количестве сделок. Если их слишком много – это значит, что Вы «увлеклись» и рискуете потерять деньги. На тренинге Вы научитесь совершать всего 2-3 сделки в неделю, которые позволят Вам зарабатывать десятки процентов прибыли в месяц и иметь уйму свободного времени.
				+fearItem(8)
					h4
						| Форекс – самый
						|
						br.d-none.d-lg-block
						| доступный рынок
						|
						br.d-none.d-lg-block
						| для новичка
					p Рынок FOREX позволит Вам освоить профессию трейдера, имея всего несколько долларов в кармане. Ни один другой финансовый рынок не даст Вам такой возможности. Причём даже с небольшой суммой на старте Вы очень скоро сможете зарабатывать сотни долларов в месяц. На тренинге Вы получите для этого все необходимые знания, инструменты и навыки.
				+fearItem(9)
					h4
						| Пошаговый план
						|
						br.d-none.d-lg-block
						| новичка: с $5 до $500 за
						|
						br.d-none.d-lg-block
						| 30 рабочих дней
					p Вы получите пошаговый план, который позволит Вам быстро «разогнать» небольшой торговый счёт. Будем честны: в случае Вашей ошибки Вы можете потерять Ваши $5, и придётся начать с начала. Именно поэтому мы рекомендуем Вам в процессе «разгона» использовать только ту сумму, которую Вам не страшно потерять.
	// end sFear

mixin fearItem(imgNum)
	+e.col.col-lg-4
		+e.img
			img(loading="lazy" src=`img/svg/fear-${imgNum}.svg` alt="")
		+e.txt-cont
			block
