extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sWhy/_sWhy.pug
include ../blocks/sWho/_sWho.pug
include ../blocks/sWhat/_sWhat.pug
include ../blocks/sFamiliar/_sFamiliar.pug
include ../blocks/sToday/_sToday.pug
include ../blocks/sReal/_sReal.pug
include ../blocks/sFor/_sFor.pug
include ../blocks/sFear/_sFear.pug
include ../blocks/sProgramm/_sProgramm.pug
include ../blocks/sAuthor/_sAuthor.pug
include ../blocks/sMoney/_sMoney.pug
include ../blocks/sBonus/_sBonus.pug
include ../blocks/sVersion/_sVersion.pug
include ../blocks/sCouch/_sCouch.pug
include ../blocks/sFeedBack/_sFeedBack.pug
include ../blocks/sSlider/_sSlider.pug
include ../blocks/sImpress/_sImpress.pug
include ../blocks/sTeam/_sTeam.pug
include ../blocks/sWarranty/_sWarranty.pug


block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'title'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	//-+soc()
	//+in-c("checkbox", "text")
	//-+b.tabs--js
		+e.caption.d-flex 
			+e.btn.btn.btn-warning.active  btn1
			+e.btn.btn.btn-warning btn 2
			+e.btn.btn.btn-warning btn 3
			+e.btn.btn.btn-warning btn 4
		+e.wrap 
			+e.content.active content 1
			+e.content content 2
			+e.content content 3
			+e.content content 4
	+headerBlock()
	+sWhy()
	+sWho()
	+b.gradinent-box
		+e.bg
			+e.bg-img
				img(loading="lazy" src="img/svg/today-bg.svg" alt="")
		+sWhat()
		+sFamiliar()
		+sToday()
	+sReal()
	+sFor()
	+sFear()
	+sProgramm()
	+sAuthor()
	+sMoney()
	+sBonus()
	+sVersion()
	+sCouch()
	+b.gray-box
		+sFeedBack()
		+sSlider()
	+sImpress()
	+sTeam()
	+sWarranty()

	+sForm()
	+sContact()
	+footer()