mixin sWhy(data)
	// start sWhy
	+b.SECTION.sWhy.section#sWhy&attributes(attributes)
		+e.container.container
			+b.section-title
				h2 Почему Вы здесь
				p Трейдинг (работа на финансовых рынках, торговля на бирже) – элитная прибыльная профессия. Вы это знаете. Иначе не оказались бы на этом сайте.
			+e.row.row
				+e.txt-col.col-lg-6
					p Вы считаете, что эта деятельность может решить многие Ваши проблемы: нехватка денег, долги, нелюбимая работа.
					p
						| Действительно,
						|
						strong по-настоящему успешные трейдеры – богатейшие люди планеты.
					p Как правило, они не фигурируют в списках Forbes и предпочитают оставаться в тени. Живут в своё удовольствие, зарабатывают на безбедную жизнь себе и детям.
					p
						strong Можно ли сделать так, чтобы приблизиться к такой жизни?
						|
						| Однозначно, можно. Но только при одном условии – если в правильную сторону направить вектор Вашего развития.
				.col-lg-6
					+e.box
						+e.box-bg
							+pic('proper.png')(class="sWhy__bg-img")
						h4
							| А Вы задумывались, почему
							br
							| не получается в трейдинге
							br
							| именно у Вас?
						p Лучший вариант ответа – потому что ещё не пробовали. Чистое сознание новичка – самая благодатная почва для привития навыков прибыльного трейдера. Вам не будут мешать тонны мусора, которые скопились в головах у тех, кто уже пытался.
						p
							| Но не отчаивайтесь, если Вы не относитесь к категории «девственно чистых» новичков. Если Вы уже занимались трейдингом и неоднократно теряли деньги, Вам просто нужно провести в голове «генеральную уборку». Но такую, которая не снилась
							br
							| даже мистеру Проперу.
	// end sWhy