mixin sDaily(data)
	// start sDaily
	+b.SECTION.sDaily.section#sDaily&attributes(attributes)
		+e.container.container
			+b.section-title
				h2 P.P.S. Каждый день промедления стоит Вам как минимум $1000!
				p Если сейчас Вы пройдёте тренинг и будете участвовать в индивидуальном коучинге, то уже через полгода-год для Вас не составит особого труда зарабатывать $1000 за 1 день торговли на рынке форекс.
			+e.bold Если же Вы откладываете решение пойти на тренинг, то Вы откладываете и тот счастливый момент, когда выйдете на такой уровень дохода. С каждым днём Вы теряете всё больше денег, которые могли бы начать зарабатывать после тренинга и практики.
			+e.box
				| «Лучший момент посадить дерево был 20 лет назад.
				|
				br.d-none.d-lg-block
				| Следующий лучший момент – сейчас!» –
				|
				span.text-secondary гласит китайская пословица.
			+e.bot-row.row
				+e.txt-col.col-lg Как не дайте же себе потерять очередные $1000, отложив решение до завтра. Запишитесь на тренинг прямо сейчас!
				+e.btn-col.col-lg-auto
					+e.btn(href='#') Стать богатым трейдером
	// end sDaily