mixin sProgramm(data)
	// start sProgramm
	+b.SECTION.sProgramm.section#sProgramm&attributes(attributes)
		+e.bg
			+e.bg-img
				img(loading="lazy" src="img/svg/program-bg.svg" alt="")
		+e.container.container
			+b.section-title
				h2 Программа тренинга
				p Посмотрите расписание занятий тренинга и подробные комментарии автора по процессу Вашего обучения.
			+e.box
				+e.row.row
					+e.txt-col.col-lg
						p Для начала скажу сразу, что когда новички впервые видят графики, то они теряются. Сразу появляется чувство неуверенности и вопрос: «А смогу ли я в этом разобраться?» Только когда я начинаю всё объяснять доступным и понятным языком, то неуверенность сменяется желанием изучить, понять и разобраться во всём. 
						p Для начала я предлагаю новичкам пройти адаптацию и привыкнуть к новому инструменту. Ведь вся работа проходит в терминале, который устанавливается на компьютер. Поэтому в подготовительных уроках я рассказываю о самом терминале, о его предназначении, о всех кнопочках в нём, для чего они нужны. Учимся проводить самые элементарные действия в терминале, в том числе открывать и закрывать ордера. Такая адаптация длится неделю, и к первому онлайн-занятию тренинга любой новичок, вдоволь наигравшись, готов осваивать следующие шаги.
						p С первых занятий тренинга мы осваиваем проведение уровней поддержки и сопротивления. Каждый уважающий себя трейдер должен уметь находить эти уровни. Задача очень простая и увлекательная. За каждым уровнем кроются возможности.
						p После уверенного наложения уровней поддержки и сопротивления мы изучаем тонкости проведения трендовых линий. Это тоже неотъемлемая часть для принятия правильных решений и успешной торговли. Процесс это творческий и очень интересный. Ведь зная, как правильно провести трендовую линию, Вы всегда будете в курсе, в каком направлении движется рынок. А направление – это самое главное для нас.
						p Каждое занятие идёт под запись с экрана. Поэтому ни одного слова не будет упущено. У Вас будет возможность пересматривать запись и повторять все действия у себя на графике.
						p Вы также познакомитесь с графическим фигурами на рынке форекс. Понимание и распознавание этих фигур позволит прогнозировать разворот цены. Понимание же гармоничных моделей научит Вас прогнозировать движение цены как в долгосрочной, так и в краткосрочной перспективе.
						p Так как занятия проходят в спокойной обстановке, доступно и понятно, Вы не захотите пропустить ни одного урока. Тем более у Вас всегда будет возможность сразу задать вопрос, если что-то непонятно.
						p Также мы изучаем индикаторы, которые Вам будут рекомендованы. Мы будем их использовать как союзников для принятия решений и для дополнительного анализа. Большее значение мы уделяем предсказывающим индикаторам, которые помогают с опережением определять возможный откат или разворот цены.
						p В процессе обучения я рассказываю о многих тонкостях и хитростях технического анализа, мы учимся избегать рыночных ловушек.
						p Вы познакомитесь с правилами входа в рынок и, главное, выхода из него. То есть как и когда правильно открыть лот и закрыть его.
						p Я разработала специальный журнал трейдера, который станет помощником в процессе торгов. Во время занятий подробно рассказываю, как им пользоваться. Он предназначен для расчёта и правильного использования депозита в процессе работы.
						p Психология трейдера – это тоже неотъемлемая часть чуть ли ни каждого занятия. Ведь 80 процентов успеха зависит только от Вашего умения управлять своими эмоциями.
						p Чтобы быстрее наработать навыки в торговле, Вы можете воспользоваться форекс-тренажёром, который встраивается в терминал.
						p Также в процессе обучения Вы изучаете понятие «свечной анализ». Как научиться правильно его использовать и распознавать все разворотные модели, а также модели продолжения движения цены. Ведь одна, две или три свечки могут многое рассказать о дальнейших планах цены. Главное, чтобы они совпадали с Вашими! :)
						p В конце обучения Вы получаете полное представление, как находить точки входа в рынок, какие условия для этого должны быть выполнены. После небольшой тренировки Вы будете готовы к самостоятельной работе на рынке форекс
					+e.portrait-col.col-lg-auto
						+pic('program-portrait.png')(class="sProgramm__portrait")
						+e.H4.name Анна Зольд
			+e.H2.proggram-title Блок 1
			+e.p-items
				+pItem(1, '19 апреля, ПН, 19:00 МСК')
					+e.p-content Уровни поддержки и сопротивления, трендовые линии, пробой уровней, как отличить настоящий пробой от ложного, что такое закрепление цены. Почему надо учитывать направление старших таймфреймов. Что такое сигналы на рынке форекс.
				+pItem(2, '21 апреля, СР, 19:00 МСК')
					+e.p-content Объединяем уровни поддержки-сопротивления с трендовыми линиями. Ценовые каналы в трендовом движении. Особенности поведения цены в канале.
				+pItem(3, '23 апреля, ПТ, 19:00 МСК')
					+e.p-content Графические разворотные модели. Распознавание фигур, условия поиска. Фигура «голова-плечи». Двойная вершина, тройная вершина, П-образная вершина. Связь графических моделей с уровнями поддержки-сопротивления. Фигуры продолжения тренда – треугольники, вымпелы, флаги. Зеркальные фигуры
				+pItem(4, '26 апреля, ПН, 19:00 МСК')
					+e.p-content Знакомство с предсказывающими, опережающими индикаторами. Что такое дивергенция. Разворот или откат цены. Конвергенция или скрытая дивергенция как сигнал продолжения тренда
				+pItem(5, '28 ноября, СР, 19:00 МСК')
					+e.p-content--long О чем могут рассказать свечи. Разворотные свечные паттерны: «молот» и «повешенный», «модель поглощения», «завеса из темных облаков», «просвет в облаках», «звезды вечерние и утренние», «падающая звезда», «перевернутый молот», модель «харами-беременная», «вершины и основания», «пинцет».
				+pItem(6, '30 ноября, ПТ, 19:00 МСК')
					+e.p-content Объединяем полученные знания. Правила поведения трейдера. Мани-менеджмент или управление рисками. Журнал трейдера. Как из 5 долларов вырастить 500
			+e.g-row.row
				+gCol()
					h4 В версии Стандарт
					p Если Вы на 100% уверены в своих силах, то можете осуществлять полученный на тренинге план «С $5 до $500 за 30 рабочих дней» самостоятельно. После тренинга у Вас будет для этого достаточно знаний и навыков. Но лучших и самых быстрых результатов достигают те ученики, которые проходят дальнейшее сопровождение.
				+gCol()
					h4 В версии Мастер
					p Если Вы хотите двигаться к цели под присмотром автора, для Вас будет проходить сопровождение в Мастер-группе. Это место, где на протяжении 3-х месяцев каждый день Вы сможете задавать возникающие вопросы и получать оперативные ответы от автора. Кроме того, каждые 2 недели будут проходить онлайн-занятия, на которых автор разберёт представленные Вами сделки, исправит ошибки и ответит на вопросы. Благодаря этому реализация плана «С $5 до $500 за 30 рабочих дней» будет для Вас гораздо быстрее и проще.
				+gCol()
					h4 В версии Коучинг
					p Если Вы хотите идти по плану «С $5 до $500 за 30 рабочих дней» с постоянной помощью и личной поддержкой автора, то для Вас предусмотрен индивидуальный коучинг до результата. В этой версии участия Ваше личное общение с автором продолжается безлимитно, т.е. неограниченное время, пока Вы выкладываете отчёты по Вашим сделкам и задаёте вопросы. Молчание со Вашей стороны более 1 недели без уважительных причин лишает Вас права продолжать заниматься индивидуально с автором. Результат не достигается путём односторонних действий (Ваших или автора). Только за счёт совместной работы Вы перейдёте на такой уровень, когда сможете торговать и зарабатывать полностью самостоятельно. Обычно на это уходит 2-3 месяца после тренинга.
	// end sProgramm

mixin pItem(num, date)
	+e.p-item
		+e.p-head.row
			+e.number-col.col-sm=`${num} занятие`
			+e.date-col.col-sm-auto=date
		block


mixin gCol()
	+e.g-col.col-lg-4
		block