mixin sWhat(data)
	// start sWhat
	+b.SECTION.sWhat.section#sWhat&attributes(attributes)
		+e.container.container
			+b.section-title
				h2 Что даёт Вам работа на валютном рынке?
				p Прежде всего, хотите Вы этого или нет, выявляются все Ваши слабые стороны
			+e.row.row
				+e.col.col-lg-6
					+pic('fail-man.jpg')(class="sWhat__row-img")
					+e.txt-box
						p Открываются все скрытые комплексы, проявляются страхи, алчность, озабоченность, о которых Вы даже не подозревали. Вы начинаете видеть, как эмоции уничтожают Вас, как блокируют и мешают видеть.
						p
							strong Вы обнаруживаете, как нестабильны внутри и как рассеивается драгоценная энергия на пустое.
						p Но уникальность валютного рынка не только в том, чтобы всё это выявить, но и в том, чтобы от всего этого избавиться.
				+e.col.col-lg-6
					+e.txt-box
						p Вы становитесь настоящим охотником в отслеживании внутренних блоков и эмоционального мусора. Вы не тратите время на борьбу, битву и уничтожение Ваших недостатков, привычек. Вы работаете с ними, учитесь контролировать себя и держать под контролем своих внутренних «врагов».
						+e.thin
							ul
								li Контроль;
								li Дисциплина;
								li Выдержка;
								li Умение точно выбрать время
								li Воля и искусство формирования цели
							p Освоив вышеперечисленные навыки, Вы используете их для эффективного и оптимального способа жить, решать возникающие задачи и преодолевать трудности ежедневного быта.
			+e.quote-cont
				+e.H4.quote Вы одинаково эффективно решаете не только внешние материальные задачи, но и духовные, относящиеся к саморазвитию!
				+pic('zoom-man.png')(class="sWhat__zoom-man d-none d-sm-block")
			+e.box
				+pic('hand.jpg')(class="sWhat__box-bg")
				+e.box-cont
					h2 Это и есть истинная психология трейдинга
					p
						| И вряд ли кто-то ещё Вам об этом расскажет.
						|
						br.d-none.d-sm-block
						| А самое главное – научит с этим жить,
						|
						br.d-none.d-sm-block
						| работать и зарабатывать
	// end sWhat