mixin sFeedBack(data)
	// start sFeedBack
	+b.SECTION.sFeedBack.section#sFeedBack&attributes(attributes)
		+e.container.container
			+b.section-title
				h2 Что говорят ученики Анны Зольд
				p Посмотрите эти короткие видео от учеников Анны Зольд. В них эмоции и восторг, от которых мурашки по коже!
				p
					| Это люди, которые начали новую изобильную и счастливую жизнь, пройдя обучение профессии
					|
					br
					| форекс-трейдера на тренинге у Анны!
			+e.items
				+e.item--txt
					+e.row.row.pb-0
						.col-lg-auto
							+pic('feedback-man.jpg')(class='sFeedBack__portrait')
						.col-lg
							+e.t-name Отзыв Сергея Морозова
							+e.t-txt
								p Анна Зольд!
								p
									strong Реальный трейдер с хорошим результатом и учитель форекса от Бога.
								p Спасибо, Анна, хочу выразить Вам признание и передать поклон от моих друзей, рекомендованных Вам мною учеников, которые прошли индивидуальное обучение у Вас.
								p Вы неповторимы!
								p.mb-0
									strong Сергей Морозов, кратко о себе в прошлом:
								ul
									li Руководитель пресс-центра ГК ВЛКСМ.
									li НТТМ, заместитель директора по маркетингу.
									li Директор рекламного агентства.
									li Депутат горсовета.
									li Дважды кандидат в мэры
									li Заместитель директора завода.
									li Председатель городской парторганизации.
									li Советник главы города по развитию и продвижению города.
									li Помощник председателя областной думы.
									li Президент фонда стратегического развития региона.
								p В настоящее время работаю над несколькими масштабными авторскими социокультурными проектами и над авторскими трудами по стратегическому развитию и стратегическому продвижению совокупных интересов городов и регионов. В рамках общественной деятельности был на приемах у президентов СССР и России.
				//-
				+e.item
					+e.row.row
						.col-lg-6
							+videoLink('444286477')
								+pic('feedback-v-bg-1.jpg')
						+e.title-col.col-lg-6
							+e.name Надежда:
							+e.txt Уровень, о котором вы могли даже просто не мечтать!
					+e.txt-box
						p «Всем добрый день. Меня зовут Надежда. И я хотела бы с вами поговорить вот о чём. Очень часто человек говорит: «Меня не ценят». Очень часто мы можем слышать, что люди недовольны уровнем своего дохода. И они ищут проблемы в ком-то другом. Это может быть работодатель. Это может быть правительство. Это может быть страна. Это может быть что угодно, но только не они.
						p И вот для тех, кто признаёт причину в себе, существует такой уникальный инструмент, как рынок. И неважно, какой это рынок: форекс, рынок акций, рынок фьючерсов. Но это то место, где каждый человек может реально узнать, чего он стоит на самом деле. Сколько денег он способен пропустить через себя от Вселенной, от мира. И когда люди приходят на рынок, чтобы испытать себя, они сталкиваются с теми проблемами, которые до того момента им были неизвестны. И сначала человек задаётся вопросом: «Где, какие точки входа?» А потом он понимает, что не в точках входа и не в точках выхода дело. А дело в психологии.
						p Рынок на 95% – это психология. Здесь вы столкнётесь со всем тем, что вам не позволяет в обычной жизни получить ваши деньги. Это будут ваши страхи, ваши сомнения, ваше неверие, ваше отчаяние, ваша торопливость, ваше замешательство. И это всё то, что не будет вам давать денег. И классно, когда вы научитесь смотреть честно на себя. Когда вы откроете в себе те дары и таланты, которые помогут вам преодолеть ваших внутренних демонов и выйти на тот уровень дохода, который действительно соответствует всем вашим ожиданиям.
						p Мне повезло. Вообще, говорят, чтобы человек в жизни был счастлив, ему должно повезти трижды: от кого родиться, на ком жениться и у кого учиться. И вот если родителей мы не выбираем, вторые половинки – здесь тоже очень часто мы руководствуемся своими гормональными представлениями, то с учителем гораздо всё интереснее. Его можно выбрать по уму.
						p И для меня таким учителем являлась Анна Зольд. Это женщина, которая сама практический трейдер. Это человек, который в своём обучении 85% времени уделяет психологии. Да, она даёт и технический анализ, и точки входа, и точки выхода, и как держать тренд, и как брать максимальную прибыль. Но основное – это психология. Это ваша внутренняя трансформация, которая способна вывести вас на такой уровень, о котором вы могли даже просто не мечтать.
						p Поэтому: Аня! Я тебя безмерно люблю! Безгранично благодарна! Я каждому желаю обрести в своей жизни такого учителя. Всем удачи! Познавайте себя, не бойтесь своих внутренних демонов. Потому что, как говорится, в конце каждой сказки вас ждёт полцарства в придачу.
						p Идите! Идите к своей мечте. Не сидите! Главное – это движение. Двигайтесь, познавайте, углубляйтесь, расширяйтесь! И тогда вы поймёте, что энергия денег – она безгранична. Она наполняет. Наполняет жизнь. Наполняет её радостью, свободой, возможностями. Всем удачи».
				//-
				+e.item
					+e.row.row
						.col-lg-6
							+videoLink('446609758')
								+pic('feedback-v-bg-2.jpg')
						+e.title-col.col-lg-6
							+e.name Алексей:
							+e.txt Я уверенно рекомендую это обучение своим друзьям!
					+e.txt-box
						p «Друзья, всем привет! Это Фамин Алексей, и сегодня я хочу с вами поделиться отзывом. Я прошёл обучение у Анны. Я научился торговать на форексе. Я понял, как торговать, и умею торговать на криптовалютных рынках. И я хочу вам сказать, что вы получите вторую профессию, ни много ни мало.
						p Многих интересует, как начать зарабатывать достаточное количество денег, не работать на дядю. И знаете, я живу в Америке, жизнь у нас тут дорогая, приходится крутиться. Вот машины продаются: по 15, по 20, по 30, по 50 тысяч долларов. Их надо же как-то покупать, на какие-то деньги?
						p Так вот, пройдя обучение у Анны, я получил не просто какие-то теоретические выкладки. Я получил полностью технологию. Как побеждать, как заходить на рынок, когда из него выходить, размер сделки, что надо делать. Хотите 10 тысяч долларов в неделю зарабатывать – мы будем делать первое, второе, третье, четвёртое, вот этот математический расклад. Хотите 20 – значит мы будем действовать по такой схеме.
						p Я уверенно рекомендую это обучение своим друзьям, потому что я знаю, что они точно так же получат полное представление, полное понимание и СТРАТЕГИЮ! Есть много разных учителей, которые какие-то общие выкладки выдают, но на самом деле они особо не могут похвастаться своими большими достижениями, серьёзными результатами и долгосрочными, постоянными финансовыми успехами.
						p И вот пройдя обучение у Анны... ребят, на самом деле всё классно. 3 месяца, 2 раза в неделю, не спеша, с огромным количеством практических занятий. Вы осваиваете вот эту всю технологию. Естественно, с каждым днём уверенность растёт, с каждым днём понимание растёт. Количество уверенности пропорционально количеству денег, которые Вы тут получаете.
						p И, ребят, надо переходить от слов к делам. Подключайтесь, заходите на обучение, действуйте! Не бойтесь, у вас всё получится, потому что Анна - это просто СУПЕР! Супер, понимаете! Такого уровня обучение! И так мягко, без лишнего, без воды, без всякой мишуры. Суть, по делу, и самое главное, ребят: технология! Технология.
						p Я много искал людей, общался с разными трейдерами, просил их научить. Никто толком не понимает, как постоянно получать доход. Нет статистики, нет точной технологии. А у Анны она есть! И вы её получите! По сути, она вас будет обучать, как заходить на рынок и оттуда вынимать деньги. А Вы этого хотите. Окей, до скорых встреч!»
				//-
				+e.item
					+e.row.row
						.col-lg-6
							+videoLink('444269061')
								+pic('feedback-v-bg-3.jpg')
						+e.title-col.col-lg-6
							+e.name Светлана:
							+e.txt Все, кто к ней придёт, не пожалеют об этом!
					+e.txt-box
						p «Здравствуйте! Меня зовут Светлана. Живу и работаю в городе Афины. Мне 58 лет. Родом я из России и в скором будущем планирую вернуться. Вернуться на родину и продолжать свою жизнь там. Начала для этого подготавливать почву. Пришла к тому, что мне нужно обучиться чему-то новому в своей жизни. И так я попала к Анне. Преподаватель! Гуру! Чудесный человек! Замечательный! Я считаю, что мне очень круто и крупно повезло. Я так счастлива! Очень счастлива!
						p Анна преподносит материал очень легко для понимания, в доступной форме. Поэтому все, кто к ней придёт, не пожалеют об этом. Обрести новую профессию в наше нелёгкое время - это дорогого стоит. О форексе я мечтала давно. Видимо, когда ученик готов, учитель приходит. И вот так получилось со мной. Я испытываю большую благодарность Анне. Серьёзных учеников Анна не оставляет. На её помощь всегда можно рассчитывать. Я начала что-то понимать в рынке форекс. И мне это очень нравится! Я в восторге и я просто счастлива! Мне очень круто и очень крупно повезло. И свою дальнейшую жизнь я буду связывать с форексом.
						p Я пока учусь, моё обучение ещё не пройдено до конца. Я обучаюсь, анализирую свои ошибки. У меня то плюс, то минус. Но я знаю, что я уверенно иду к своей цели. И я знаю, что я там буду. И я буду зарабатывать. Зарабатывать на всё прекрасное!))) Действительно, я очень счастлива. Я просто счастлива!»
				//-
				+e.item
					+e.row.row
						.col-lg-6
							+videoLink('444278392')
								+pic('feedback-v-bg-4.jpg')
						+e.title-col.col-lg-6
							+e.name Сергей:
							+e.txt Кто хочет научиться торговать, обращайтесь к Анне!
					+e.txt-box
						p «Добрый день, друзья! Я хочу рассказать немного о себе. Меня зовут Сергей. На форексе я уже 14 лет, из которых 10 лет прошли напрасно. Напрасно почему? Потому что я обучался сам, много информации скачивал с интернета. И вот этот "каламбур"... Короче, торговал я 50/50 – вроде и в плюс, потом сливаю. Потом опять плюс, потом сливаю. И до тех пор, пока не встретил Анну.
						p Вот благодаря Анне я уже понял, что форекс – это нормальная вещь. Можно зарабатывать. Она долго со мной работала, потому что у меня в голове было столько всего! Ненужной информации, от которой надо было просто избавиться, всё начинать с чистого листа. Поэтому, друзья, если кто хочет научиться на форексе торговать, обращайтесь к Анне, она всегда поможет, не оставит в беде. И благодаря её сейчас у меня нормальные дела идут. Торгуем, зарабатываем, чего и вам желаем. Всем спасибо, до свидания!»
				//-
				+e.item
					+e.row.row
						.col-lg-6
							+videoLink('446592846')
								+pic('feedback-v-bg-5.jpg')
						+e.title-col.col-lg-6
							+e.name Любовь Николаевна:
							+e.txt Мне 77 лет. У меня хорошие сделки, и эта работа для меня будет основной!
					+e.txt-box
						p «Здравствуйте! Меня зовут Любовь Николаевна, мне 77 лет. Живу я в городе Тула. Больше 25 лет я работаю в сетевом маркетинге. Работаю с людьми. Они меня не напрягают, работать мне нравится, нравится помогать людям. 6 лет я работала в хэдж-фонде, где получила большой теоретический опыт трейдерской работы, потому что листала договоры доверительного управления на фондовой бирже NASDAQ. Теоретически я знала трейдерскую работу, знала, что это рискованно, но мне самой всегда хотелось научиться. И я стала искать, кто бы мне помог.
						p Встретила Анну, очень довольна этой встречей. Потому что такого человека, как Анна, судьба просто дала мне, как подарок! Она сама научилась, знает работу трейдера изнутри, и не по-книжному учила нас, а чисто человеческим языком, чисто практически. Так что мы воспринимали всё правильно, быстро учились.
						p У меня хорошие сделки, и эта работа для меня сейчас будет основной.
						p Мне ещё нравится то, что Анна не оставляет нас даже после учёбы. Консультирует, помогает. Как она сказала: «Я вас буду доводить до результата, пока вы не начнёте хорошо зарабатывать». Я очень довольна, и мне очень хочется ей сказать большое человеческое спасибо! Она наш самый лучший друг и наставник на долгие годы».
				//-
				+e.item
					+e.row.row
						.col-lg-6
							+videoLink('444280971')
								+pic('feedback-v-bg-6.jpg')
						+e.title-col.col-lg-6
							+e.name Зинаида:
							+e.txt Я освоила торговлю настолько, что уже консультирую других людей!
					+e.txt-box
						p «Всем доброго времени суток! Меня зовут Зинаида. Когда я познакомилась с Анной, я находилась в Италии, работала по уходу за престарелыми и больными людьми. Ну и в промежутках стала изучать торговлю на валютном рынке форекс под руководством Анны. А так как времени для занятий в связи со спецификой моей работы было мало, то моя практическая часть растянулась почти на 2 года.
						p Но это не имеет значения, потому что в дальнейшем разобралась с элементарными входами на рынок, то есть с сигналами. Потому что в торговле самое основное – это сигналы. Когда я поняла, что в торговле самое основное – это сигналы, а также понятие и определение уровней, то это стало как раз той опорной точкой, с которой началось моё профессиональное понимание рынка. И теперь какая бы ситуация ни сложилась на рынке, я знаю, что нужно дождаться подтверждённого торгового сигнала. И только после этого принимать торговое решение.
						p Хочу выделить, что учиться у Анны было очень комфортно. И самое хорошее в обучении то, что Анна не усложняет подачу материала и показывает самый простой подход к торговле. Также мне понравилось, что Анна много времени уделяет психологии. Потому что саму торговлю освоить несложно. А вот психология – это то, что нужно каждому из нас.
						p Теперь я освоила торговлю на рынке настолько, что могу консультировать и уже консультирую других людей. Спасибо за это моему опытному наставнику и учителю Анне. Всем удачи и здоровья!»
				//-
				+e.item
					+e.row.row
						.col-lg-6
							+videoLink('444305802')
								+pic('feedback-v-bg-7.jpg')
						+e.title-col.col-lg-6
							+e.name Наталья:
							+e.txt Почувствовала покровительство опытного успешного трейдера!
					+e.txt-box
						p «Всем добрый день! Меня зовут Наталья. И это видео я решила записать в знак благодарности моему наставнику, которая на протяжении уже четырёх лет постоянно рядом со мной. Она взяла меня на обучение в 2016-ом году, можно сказать, таким «подопытным кроликом», который вообще не имел представления о том, как торговать на рынке. Но при этом имел желание научиться этому источнику дохода, чтобы его использовать в дальнейшем в своей жизни.
						p С первых дней, когда мы начали первые занятия с Анной, я сразу же почувствовала покровительство такого опытного успешного трейдера, которому доверилась полностью. Полностью соблюдала все её рекомендации. Более того, она давала рекомендации не только мне. Но и тем моим друзьям, которые, скажем честно, отговаривали меня от этой работы, говорили: «Да ладно там! Заработать там нечего. Всё равно потеряешь деньги!» Но в итоге где-то примерно через полгода появились в кругу моих друзей те люди, которые, пообщавшись с Аней, «вырулили» свои убыточные сделки. Она дала чёткий план по выходу из данной ситуации, и друзья остались довольны! Более того, они после также обучались у Анны, и многие из них успешно торгуют.
						p По поводу обучения могу сказать, что в период обучения Анна давала нам 80% практики, что немаловажно на пути становления трейдера. Потому что самой теории – её очень много в интернете. И она не всегда приносит те плоды, которые хотелось бы получить. Практические навыки, которые были нам даны Анной, – они применяются мною по сей день. Был отработан алгоритм входа в рынок с использованием риск-менеджмента. Причём этот риск каждый трейдер определял для себя сам.
						p Анна рекомендовала рисковать не более $50. Да-да, вы не ослышались. Действительно, максимальный риск у меня лично и у всех последующих, кто обучались у Анны, составлял не более 50-ти долларов. То есть этой суммы было вполне достаточно, чтобы, как говорится, набить руку, отработать все точки входа, отработать их правильность, научиться правильно рассчитывать лот. Начиная с такой небольшой суммы, каждый наращивал свой депозит до тех сумм, которые необходимы в дальнейшем для профессиональной торговли.
						p Ну что ещё сказать. Кроме того, что Анна дала нам очень много правильных практических знаний, отработала с нами стратегию, она ещё остаётся для меня лично хорошим человеком и другом, который всегда со мной рядом. И я эту поддержку чувствую, где бы я ни находилась. Я всегда могу к ней обратиться за помощью не только в торговле и за каким-то советом. Да, ситуации на рынке возникают разные, и всем трейдерам всегда приходится учиться. То есть это не конечный курс, не конечная точка отсчёта. В процессе торговли всё равно будут появляться у вас новые навыки и новые знания. Так вот Анна уже на протяжении четырёх лет всегда рядом со мной в любой жизненной ситуации, за что я ей очень благодарна.
						p Анечка, ты просто чудо! Благодаря Анне я с 2018 года, используя те знания, которые она дала мне, даю финансовые консультации. В общем все те знания, которые я получила у Ани, я с удовольствием передаю людям. Спасибо за внимание!»
				//-
				+e.item
					+e.row.row
						.col-lg-6
							+videoLink('446614698')
								+pic('feedback-v-bg-8.jpg')
						+e.title-col.col-lg-6
							+e.name Дмитрий:
							+e.txt Смело могу сказать, что это уникальный курс!
					+e.txt-box
						p «Здравствуйте! Меня зовут Дмитрий Лялин, и я прошёл курс Анны Зольд по обучению торговле на бирже. Смело могу сказать, что это уникальный курс. Я 10 лет отработал председателем биржевого совета Мурманской товарно-сырьевой биржи, и ничего подобного я не встречал. Спасибо, Аня!»
	// end sFeedBack