.top-nav {
  background-color: rgba($white, .9);

  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;

  border-bottom: 1px solid $gray-310;

  &__row{
    height: rem(48);
  }

  .navMenu{
    justify-content: flex-end;
    &__item{
      padding: 0;
      margin: 0 rem(38) 0 0;
      &:last-child{
        margin-right: 0;
        .navMenu__link{
          color: $warning;
        }
      }
    }
    &__link{
      padding: 0!important;
      margin: 0!important;

      font-weight: 600;
      line-height: 1.6;
    }
  }
  &__{}
  &__{}
  &__{}
  &__{}
  &__{}
  &__{}
}


