mixin sAuthor(data)
	// start sAuthor
	+b.SECTION.sAuthor.section#sAuthor&attributes(attributes)
		+e.container.container
			+e.box
				+e.row.row
					+e.title-col.col-md-6.col-lg-6
						+b.section-title
							h2 Кто автор
							p Анна Зольд – успешный форекс-трейдер и&#160;талантливый преподаватель.
						+e.portrait
							img(loading="lazy" src="img/@2x/author-portrait.png" alt="")
						//+pic('author-portrait.png')(class="sAuthor__portrait")
					+e.txt-col.col-md-6.col-lg-6
						ul
							li
								strong
									| 13 лет
									|
								| Анна прибыльно торгует на рынке форекс. Результаты её торговли Вы увидите ниже на этом сайте.
							li
								strong
									| Сертифицированный партнёр
									|
								| брокерской компании ИнстаФорекс.
							li
								strong
									| 4 года обучает обычных людей
									|
								| профессии форекс-трейдера.
							li
								strong
									| Уже более 500 человек
									|
								|
								| прошли групповое обучение у Анны. Это самые разные категории людей – офисные работники, домохозяйки, фрилансеры, простые рабочие, пенсионеры.
							li
								strong
									| 57 человек
									|
								| прошли у Анны индивидуальное обучение и сопровождение. Среди них – крупные бизнесмены и чиновники.
							li
								| На основе собственного многолетнего опыта Анна
								|
								strong создала сверхэффективную систему обучения трейдингу
								|. Эта система идеально подходит для абсолютных новичков, а также для тех, у кого уже много лет не получается зарабатывать на рынке форекс.
							li
								| 80% времени и внимания в торговле и в обучении трейдингу Анна уделяет
								|
								strong
									| вопросам психологии
								|. Поэтому с успехом решает главную проблему, которая мешает зарабатывать абсолютному большинству трейдеров – эмоции в торговле.
						+e.btn(href="#") Хочу на обучение к Анне
	// end sAuthor