mixin sToday(data)
	// start sToday
	+b.SECTION.sToday.section#sToday&attributes(attributes)
		+e.container.container
			+e.box
				+pic('loud-man.png')(class="sToday__man d-none d-sm-block")
				+e.txt-content
					h2 Сегодня мы совершаем  революцию!
					p
						strong Теперь каждый, независимо от уровня интеллекта, профессии, пола или возраста сможет зарабатывать.
					p Инженеры, простые работники, домохозяйки, фрилансеры, студенты, бизнесмены – все!
					p Прямо сейчас Вы можете получить доступ к нашему масштабному проекту по повышению грамотности новичков в трейдинге!
	// end sToday