// start .sQuestions
.sQuestions {
	@include media-breakpoint-up(xl){
		--sPT: #{rem(50px)};
		--sTPB: #{rem(45)};
		--sPB: #{rem(30px)};
	}

	.section-title{
		h2{
			max-width: rem(940);
			@include media-breakpoint-up(xl){
				font-size: rem(49.6);
			}
		}
		p{
			max-width: rem(1070);
			font-weight: 600;
			font-size: rem(19.6);
			line-height: 1.65;
			margin-bottom: rem(31);
			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	&__container{
		@include media-breakpoint-up(xxl){
			padding-right: rem(23);
		}
	}

	&__items{

	}
	&__item{
		@include mt();
		border: 1px solid $gray-310;
		border-radius: rem(20);
		overflow: hidden;

		margin-bottom: rem(16);
		--chevron-rotate: 0deg;
		--chevron-color: #{$indigo};
		--before-o: 0;
		color: $indigo;
		&.active{
			margin-bottom: rem(32);
			--chevron-rotate: 90deg;
			--chevron-color: #{$white};
			--before-o: 1;
			color: $white;
		}

		position: relative;
		z-index: 1;
		&:before{
			@include mt();
			opacity: var(--before-o);
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(119.22deg, #FF4057 0.88%, #240041 96.83%);
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__head{
		cursor: pointer;
		font-weight: 600;
		font-size: rem(23.7);
		line-height: 1.55;

		display: flex;
		align-items: center;

		padding: rem(16) rem(20);
		@include media-breakpoint-up(md){
			padding: rem(21) rem(31) rem(21) rem(32);
		}
	}
	&__head-icon{
		@include mt();
		flex-shrink: 0;
		margin-left: auto;
		width: rem(20);
		height: rem(20);

		display: flex;
		align-items: center;
		justify-content: center;
		transform: rotate(var(--chevron-rotate));

		.icon{
			@include mt();
			font-size: rem(16);
			color: transparent;
			stroke: var(--chevron-color);
			stroke-width: 3px;
		}

	}
	&__content{

		display: none;
		&.active{
			display: block;
		}

		padding: rem(5) rem(20) rem(20) rem(20);
		@include media-breakpoint-up(md){
			padding: rem(5) rem(120) rem(30) rem(32);
		}


		font-size: rem(19.68);
		line-height: 1.75;

	}
	&__{}
} // end.sQuestions