mixin sQuestions(data)
	// start sQuestions
	+b.SECTION.sQuestions.section#sQuestions&attributes(attributes)
		+e.container.container
			+b.section-title
				h2 Есть вопросы?
				p О самых популярных темах, интересующих новичков в трейдинге, расскажет автор тренинга Анна Зольд:
			+e.items.sQuestions-dd-js
				+faqItem('Каких брокеров Вы рекомендуете?', 'active')
					| InstaForex – рекомендация автора. Автор является сертифицированным партнёром InstaForex и много лет сама работает с личными крупными счетами у этого брокера. Если Вы выберите этого брокера для работы, Вам будет предоставлена специальная ссылка для регистрации, чтобы автор могла отслеживать Ваш прогресс и помогать Вам в торговле. С каждой Вашей сделки Вы платите брокеру комиссию. Часть этой комиссии получает партнёр брокера (в данном случае – автор тренинга). Поэтому автору интересно сопровождать Вас и помогать Вам торговать как можно дольше и прибыльнее. Alpari Limited – рекомендация куратора проекта, который много лет работает с личными счетами у этого брокера. По желанию Вы можете выбрать любого другого форекс-брокера, с которым Вы давно работаете и которому доверяете.
				+faqItem('Подходит ли система автора для других рынков?')
					| 2
				+faqItem('Сколько времени нужно будет уделять торговле?')
					| 3
				+faqItem('На чём основан подход автора (торговая система)?')
					| 4
	// end sQuestions

mixin faqItem(headTxt, addClasses='')
	+e.item(class=addClasses)
		+e.head.dd-head-js
			+e.head-txt=headTxt
			+e.head-icon
				+icon('chevron-right')
		+e.content(class=addClasses).dd-content-js
			block
