mixin sFor(data)
	// start sFor
	+b.SECTION.sFor.section#sFor&attributes(attributes)
		+e.container.container
			+b.section-title
				h2 Для кого этот тренинг
			+e.row.row
				+forItem(1)
					h4
						| Вы абсолютный
						|
						br.d-none.d-md-block
						| новичок
					p Вы пока не пытались торговать на финансовых рынках. Но Вы знаете, что это очень денежная профессия. Вы хотите её освоить без заумной теории и напускной важности. Максимально простым языком, за руку до результата.
				+forItem(2)
					h4
						| Вы «зависли»
						|
						br.d-none.d-md-block
						| на теории
					p Изучаете курс за курсом, а до серьёзных денег дело так и не дошло. Вы хотите в одном месте получить всё, что нужно для заработка: мотивацию, умение совершать прибыльные сделки и работать с эмоциями в процессе торговли
				+forItem(3)
					h4
						| Вы теряете
						|
						br.d-none.d-md-block
						| деньги
					p Вы пытались заработать на FOREX, но провалились, потеряв деньги. Вы поняли, что для заработка мало обладать торговой стратегией, поскольку перепробовали их уже много, а результат один – потеря торгового депозита
	// end sFor

mixin forItem(imgNum)
	+e.col.col-md-4
		+e.img
			img(loading="lazy" src=`img/svg/for-${imgNum}.svg` alt="")
		+e.txt
			block
