mixin sTeam(data)
	// start sTeam
	+b.SECTION.sTeam.section#sTeam&attributes(attributes)
		+e.container.container
			+b.section-title
				h2 Наша команда
				p 12 лет профессионального онлайн-образования в Рунете!
			+e.row.row
				+teamItem(1, 'Анатолий Белоусов', 'Основатель Инфо-ДВД')
				+teamItem(2, 'Никита Королёв', 'Руководитель Инфо-ДВД')
				+teamItem(3, 'Анна Зольд', 'Автор Инфо-ДВД')
				+teamItem(4, 'Артём Дудкевич', 'Топ-менеджер Инфо-ДВД')
	// end sTeam

mixin teamItem(imgNum, name, duty)
	.col-6.col-lg-3
		+pic(`team-human-${imgNum}.jpg`)(class="sTeam__portrait")
		+e.name=name
		+e.duty=duty