mixin sImpress(data)
	// start sImpress
	+b.SECTION.sImpress.section#sImpress&attributes(attributes)
		+e.bg
			+e.bg-img
				img(loading="lazy" src="img/svg/sImpress-bg.svg" alt="")
		+e.container.container
			+b.section-title
				h2 Впечатляет, не так ли?
				p
					| Хотите тоже испытать восторг от новой прибыльной профессии форекс-трейдера?
					|
					br.d-none.d-md-block
					| Хотите всегда иметь возможность заработать именно столько, сколько Вам нужно, а не столько, сколько платит Вам работодатель или государство?
			+e.btn(href='#sVersion') Записаться на тренинг
	// end sImpress